#ready{
    text-align: center;

}
#p1{
    font-family: "Century Schoolbook L", fantasy, serif;
    color: orangered;
}
#p2 {
    color: crimson;
}
#p3{
    color: darkgreen;}

#lunch{
    text-align: center;
}
#byeeee{
    color: orangered;
}
#lml{
    color: deeppink;
    font: large;
}